/* 画像の親要素があれば幅100%に */
.header{
  background:linear-gradient(100deg,#efdae5,#939be9);
  color: white;
  padding: 100px 0;
  text-align: center;
}

.nayami{
  background:l(#e5e2c8);
  color: rgb(9, 9, 9);
  padding: 100px 0;
  text-align: center;
}

.footer{
  background:linear-gradient(100deg,#efdae5,#c8cdf6);;
  padding: 40px 0;
  text-align: center;
}

  